@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* General Styles */
body {
  font-family: 'Lateef', serif;
  background-color: #ffffff;
  background-image: repeating-linear-gradient(
      45deg,
      rgba(75, 0, 130, 0.1) 0,
      rgba(75, 0, 130, 0.1) 1px,
      transparent 1px,
      transparent 20px
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(75, 0, 130, 0.1) 0,
      rgba(75, 0, 130, 0.1) 1px,
      transparent 1px,
      transparent 20px
    );
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  color: #4b0082;
}

.text-gold-pattern {
  color: #4b0082;
  text-shadow: 0 0 10px rgba(75, 0, 130, 0.8), 0 0 20px rgba(75, 0, 130, 0.6);
}

.invitation-container {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  overflow: hidden;
}

/* Bride Name Styling */
.bride-name {
  font-family: 'Alex Brush', cursive; /* Calligraphy font */
  font-size: 3rem;
  color: #4b0082;
  text-align: center;
  margin-top: 1rem;
  text-shadow: 0 0 10px rgba(75, 0, 130, 0.8), 0 0 20px rgba(75, 0, 130, 0.6);
}

/* Calligraphy Font Styling */
.calligraphy-font {
  font-family: 'Alex Brush', cursive; /* Calligraphy font */
  font-size: 2.5rem;
  color: #4b0082;
  text-align: center;
  margin: 1rem 0;
  /* text-shadow: 0 0 10px rgba(192, 108, 252, 0.8), 0 0 20px rgba(75, 0, 130, 0.6); */
}

/* Responsive Styles */
@media (max-width: 768px) {
  /* Adjustments for smaller screens */
  body {
    font-size: 0.9rem;
  }
}
